<div class="shade">
    <div class="blackboard">
        <div class="form">
            <h2>Your {{confirmData.orderType}} order has been confirmed</h2>
            <div class="p">
                <table>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td class="info">{{confirmData.name}}</td>
                    </tr>
                    <tr>
                        <td>Contact No.:</td>
                        <td class="info">+65-{{confirmData.contact}}</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td class="info">{{ confirmData.gender }}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td class="info">{{ confirmData.dob | date }}</td>
                    </tr>
                    <tr>
                        <td>Order Date:</td>
                        <td class="info">{{ confirmData.orderDate | date }}</td>
                    </tr>
                    <tr>
                        <td>Order Type:</td>
                        <td class="info">{{ confirmData.orderType }}</td>
                    </tr>
                    <tr>
                        <td>Units {{(confirmData.orderType === 'Buy' ? 'Bought' : 'Sold')}}:</td>
                        <td class="info">BTC {{ confirmData.unit }}</td>
                    </tr>
                    <tr *ngIf="confirmData.orderType==='Buy'">
                        <td>Bitcoin Address:</td>
                        <td class="info">{{ confirmData.btcAddress }}</td>
                    </tr>
                    <tr>
                        <td>Rate:</td>
                        <td class="info">SGD {{ confirmData.rate | number: '.2'}} = 1 BTC</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td class="info">SGD {{ confirmData.total | number: '.2' }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <br>

            <h2 style="text-align: center">To Complete your Transaction</h2>
            <div class="p center" *ngIf="confirmData.orderType ==='Buy'">
                <h4>Please wire the funds to the below PayNow Code.
                    <br> Once the SGD funds are received we will send the Bitcoin to your Wallet Address!</h4>
            <div class="center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Cochlear_Baha_App_QR_code.jpg" width="150px">
            </div>
            </div>
            <div *ngIf="confirmData.orderType ==='Sell'">
                <h4>Please wire the Bitcoin to the below Wallet Address.
                    <br> Once the Bitcoin has been received received we will send the SGD funds to your PayNow!</h4>
                <h4>jgjg564564564dfgd</h4>
            </div>
            <div class="center pad">
                <button mat-raised-button color="accent" [routerLink]="['/']">Back</button>
                <br/>
            </div>
        </div>
    </div>
</div>