<div class="shade">
    <div class="blackboard">
        <div class="form" *ngFor= "let item of ord">
            <table>
            <tbody>
                <tr>
                    <mat-checkbox (click)="select()">
                        <td>Order Type: </td><td class="info">{{ord.orderType}}</td>
                        <td>Quantity: </td><td class="info">{{ord.unit}}}}</td>
                        <td>Amount: </td><td class="info">{{ord.total}}</td>
                    </mat-checkbox>
                </tr>
            </tbody>
            </table>
        </div><br>
    </div>
</div>
        
