.cover {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg');
    min-height: 300vh;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
  }

h2{
  color: whitesmoke;
  font-family: 'Permanent Marker', cursive;
}